#toggle:checked ~ .side-bar {
    display: flex;
}
#toggle:checked ~ body {
    overflow: hidden;
}
#toggle:checked + label.menu-icon {
    display: none;
}
#toggle:checked ~ .side-bar .close-icon {
    display: block;
}

@media (min-width: 700px) {
    .side-bar{
        display: none;
    }
    .menu img {
        display: none;
    }
}

@media (max-width: 700px) {
    .menu-bar {
        display: none;
    }
    
    #toggle:checked ~ .side-bar {
        right: 0%;
        /* scroll-snap-stop: 0; */
    }
    #toggle:checked ~ .menu-bar .menu-icon {
        display: none;
    }
    #toggle:checked ~ .side-bar .close-icon {
        display: block;
    }
    .header {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto; 
    }

    .header-title {
        grid-column: 1;
        grid-row: 1;
    }

    .header img {
        grid-column: 1; 
        grid-row: 2; 
        width: 100%;
        height: 100%; 
    }

    .sdg-opening {
        font-size: 12vw;
    }

    .opening-phrase {
        font-size: 7vw;
    }
    
}

@media (max-width: 768px) {
    .section1-container, .vote-container, .human-rights-container {
        flex-direction: column;
        text-align: center;
    }

    .section1-img, .human-rights-container img {
        max-width: 100%;
    }

    .vote-container {
        flex-direction: column;
        text-align: center;
    }

    .vote-container img {
        order: -1;
        max-width: 100%;
    }

    .human-rights-h1, .play-part {
        text-align: center; 
    }

    .corruption-container img {
        max-width: 100%;
    }

    .flip {
        max-width:80%;
    }

    .flip > .front,
    .flip > .back {
        object-fit: cover;
        height: 250px; /* Reduce height for smaller screens */
        padding: 0.5em 0.5em; /* Adjust padding for smaller screens */
    }

    #blogs-container {
        margin: 5%;
    }

    .blog-content {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center align for single-column layout */
    }

    .blog-card {
        margin: 10px 0;
        max-width: 90vw; /* Allow card width to scale with viewport */
    }

    .blog-card img {
        height: auto; /* Adjust height for responsiveness */
        aspect-ratio: 1/1; /* Maintain square shape */
    }

    @media (max-width: 320px) {
        /* Switch Header Image Block code css*/
        .header-img {
            display: none;
        }
        .anonymous-header-img {
            display: flex;
        }
    
        .sdg-opening {
            font-size: 14vw;
            color: red;
            font-family: "Anonymous Pro";
        }
    
        body{
            background-color: #2E2C28;
        }
    
        .za-warudo, .to-vote, .blog-header h1, .no-left, .play-part, .corruption-h1{
            color: white;
        }
        .section1-container, .every-election-container, .human-rights-container, 
        .comelec-container, .world-bank-container, .corruption-p-container,
        .about-us-container, .resources-and-tools-container a, .voting-text {
            color: white;
            background-color: rgba(0, 0, 0, 0.492);
            border-radius: 10px;
        }
    
        .hr {
            width: auto;
            height: 2px;
            border-width: 0;
            background-color: #011627;
        }
    
        .section1-img {
            display: none;
        }
    
        .vote-container img {
            margin-bottom: 5vh;
        }
        .voting-is-right-img, .vote-img, .human-rights-container img{
            display: none;
        }
        .section1-anonymous-img{
            width: 100%;
            max-width: 50%;
            height: auto;
            object-fit: cover;
        }
    
        .vote-section-container {
            background-color: rgba(0, 0, 0, 0.492);
            border-radius: 10px;
            color: white;
            font-family: "Anonymous Pro";
        }
    }
}